body {
    background-image: url("../images/BitmapBackground.bmp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img{
    width: 500px;
    height: 500px;
}
ul {
    list-style-type: none;
    position: center;
    width:100%;
    top:0;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: left;
    border-right: 1px solid blue;
}

li a {
    display: block;
    color: blue;
    font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
    color: white;
}

.row::after {
    content: "";
    clear: both;
    display: table;

}

.wrapper1 {
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 20px;
    text-align: center;

    float: left;
    width: 40.40%;
    padding: 5px;
}



